doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Vive la mejor experiencia turística con nuestros full days, tours nocturnos y paquetes de varios días. Personalizamos cada recorrido para que disfrutes de destinos únicos y actividades inolvidables. Perfecto para quienes buscan aventura, historia o relax. ¡Reserva tu próxima aventura con nosotros!")
        meta(property="og:title" content="Taytaldo")
        meta(name="description" content="Vive la mejor experiencia turística con nuestros full days, tours nocturnos y paquetes de varios días. Personalizamos cada recorrido para que disfrutes de destinos únicos y actividades inolvidables. Perfecto para quienes buscan aventura, historia o relax. ¡Reserva tu próxima aventura con nosotros!")

        link(rel="canonical" href="https://taytaldo.com")
        link(rel="icon" href="/img/favicon/favicon.svg" media="(prefers-color-scheme: light)")
        link(rel="icon" href="/img/favicon/favicon_white.svg" media="(prefers-color-scheme: dark)")
        link(rel="stylesheet" href="/css/swiper-bundle.min.css")
        link(rel="stylesheet" href="/css/style.css")
        title Taytaldo
    body 
        include includes/header

        main
            block contenido

        include includes/footer

        block scripts

