footer 
    div(class="container footer")
        section(class="footer_top")
            article(class="footer_top__help")
                div(class="content")
                    img(src="/img/footer/icon_service.svg" alt="Ayuda 24/7")
                    p ¿Necesitas ayuda con alguno de nuestros destinos?
                
                a(href="/contacto" class="footer_button__help")
                    img(src="/img/footer/arrow_footer.svg" alt="Flecha hacia la derecha")

            article(class="footer_top__experiences")
                div(class="content")
                    img(src="/img/footer/icon_maleta_2.svg" alt="Nuevas experiencias")
                    p ¡Listo para vivir nuevas experiencias!

                a(href="/destinos" class="footer_button__experiences")
                    img(src="/img/footer/arrow_footer.svg" alt="Flecha hacia la derecha")
        hr

        section(class="footer_bottom")
            article(class="footer_bottom__info")
                img(class="footer_bottom__logo" src="/img/footer/logo_white.svg" alt="Logo Taytaldo")
                p Su solución de viaje integral, desde la planificación hasta el descubrimiento, la reserva y el intercambio de recuerdos.

                nav(class="social_media")
                    a(href="#")
                        img(src="/img/footer/icon_facebook_white.svg" alt="Facebook" class="media")
                    a(href="#")
                        img(src="/img/footer/icon_instagram_white.svg" alt="Instagram" class="media")
                    a(href="#")
                        img(src="/img/footer/icon_tiktok_white.svg" alt="TikTok" class="media")
                    a(href="#")
                        img(src="/img/footer/whatsapp_white.svg" alt="WhatsApp" class="media")
            
            nav(class="footer_bottom__links")
                h4 Nuestros Links
                ul(class="links_items")
                    li 
                        a(href="/") Inicio
                    li 
                        a(href="/nosotros") Nosotros
                    li 
                        a(href="/destinos") Destinos
                    li 
                        a(href="/contacto") Contacto
            
            address(class="footer_bottom__contact")
                h4 Información de Contacto
                p  
                    i(class="icon-location") 
                    | Santiago de Surco, Perú, 01
                p  
                    i(class="icon-email") 
                    | taytaldo@gmail.com
                p  
                    i(class="icon-phone") 
                    | 963 073 599
        hr

        section(class="footer_copyright")
            p © Copyright 2024 - Taytaldo
