header 
    div(class="container header")
        a(href="/")
            img(class="logo" src="/img/header/logo.svg" alt="Logo")

        div(class="hamburguer")
            div(class="line")
            div(class="line") 
            div(class="line") 

        nav(class="navbar")
            ul(class="navbar_items")
                li
                    a(href="/") Inicio
                li
                    a(href="/nosotros") Nosotros
                li
                    a(href="/destinos") Destinos
                li
                    a(href="/contacto") Contacto

